@variants ie, {
    .example-box {
        font-color: blue;
        border: 1px dotted green;
        font-family: 'Comic Sans';
    }
}

/*@tailwind base;*/

/*@tailwind components;*/

@tailwind utilities;
